@{
    ViewData["Title"] = "Inicio";
}

<section class="bg-white dark:bg-gray-900">
    <div class="mx-auto max-w-screen-xl px-4 py-8 text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white md:text-5xl lg:text-6xl">NetTailwindCSS Template</h1>
        <p class="mb-8 text-lg font-normal text-gray-500 dark:text-gray-400 sm:px-16 lg:text-xl lg:px-48">Plantilla de .NET 8 MVC para trabajar con Tailwind CSS</p>
    </div>
</section>
